{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprise{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if edit %}
        <h1>Editer une entreprise</h1>
    {% else %}
        <h1>Ajouter une entreprise</h1>
    {% endif %}

    {# {{form (formAddEntreprise)}} #}

    {{ form_start (formAddEntreprise) }}
        <div class="row">
            <div class="col-sm">
                {{ form_row (formAddEntreprise.raisonSociale) }}
            </div>
            <div class="col-sm">
                {{ form_row (formAddEntreprise.adresse) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                {{ form_row (formAddEntreprise.dateCreation) }}
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm">
                {{ form_row (formAddEntreprise.cp) }}
            </div>
            <div class="col-sm">
                {{ form_row (formAddEntreprise.ville) }}
            </div>
        </div>

        
        {{ form_row (formAddEntreprise.Valider) }}
    
        {{ form_end (formAddEntreprise) }}
{% endblock %}
